@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Student";

}


<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row" ng-init="AllCourses();AllStudents()" ng-app="StudentApp" ng-controller="StudentController">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Add Student</h4>
                        </div>
                        <div class="card-body" ng-hide="showDiv">
                            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

                            <form action="#">

                                <div class="form-group">
                                    <label for="email">Student Name</label>
                                    <input id="studentName" type="text" class="form-control" ng-model="student.Name">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="email">Birthday</label>
                                    <input id="birthday" type="date" class="form-control" ng-model="student.Birthday">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Course Name</label>

                                    @*<select name="repeatSelect" id="repeatSelect" >
                    <option ng-repeat="option in teachers" ng-model="subj.teacherId" >{{option.teacherId}}</option>
                </select>*@

                                    @*<select ng-model="student.CourseId">
                    <option ng-repeat="t in record">{{t.CourseId}} </option>
                </select>*@


                                    <select ng-model="course" ng-options="cour.CourseId as cour.Name for cour in record track by stud.CourseId"
                                            ng-change="GetCourseId()"> </select>
                                    @*<input id="teacherName" type="text" class="form-control" ng-model="subject.TeacherName">*@
                                    <div class="invalid-feedback">
                                    </div>
                                </div>




                                <div class="form-group">
                                    <input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Submit" ng-click="AddStudent()" />
                                </div>

                                <div class="form-group">
                                    <div class="search-element">
                                        <input class="form-control" type="search" ng-model="search" placeholder="Search" aria-label="Search" data-height="10" data-width="250">
                                    </div>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Student Name</th>
                                                <th>Course</th>
                                                <th>Birthday</th>
                                                <th>Reg No</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody dir-paginate="sub in students |itemsPerPage:5| filter:search |orderBy:sortKey:reverse">
                                            <tr>
                                                <td>{{sub.Name}}</td>
                                                <td>{{sub.CourseId}}</td>
                                                <td>{{sub.Birthday}}</td>
                                                <td>{{sub.RegistrationNumber}}</td>
                                                <td>
                                                    <a href="#" ng-click="ShowHide();HideShow();GetStudentById(sub.StudentId)" class="edit" title="Edit" data-toggle="tooltip"><i class="glyphicon glyphicon-edit">&nbsp;</i></a>
                                                    <a href="#" ng-click="DeleteStudent(sub.StudentId)" class="delete" title="Delete" data-toggle="tooltip"><i class="glyphicon glyphicon-remove">&nbsp;</i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <dir-pagination-controls class="pagination"></dir-pagination-controls>
                            </form>
                        </div>

                        <form action="#" ng-show="showModal">

                            <div class="form-group">
                                <label for="email">Student Name</label>
                                <input id="studentName" type="text" readonly class="form-control" ng-model="studentDetail.Name">
                                <div class="invalid-feedback">
                                </div>
                            </div>




                            <div class="form-group">
                                <label for="email">Birthday</label>
                                <input id="birthday" type="date" class="form-control" ng-model="studentDetail.Birthday">
                                <div class="invalid-feedback">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Course Name</label>
                                <select ng-model="studentDetail.CourseId">
                                    <option ng-repeat="t in record">{{t.CourseId}} </option>
                                </select>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="button" ng-click="UpdateStudent(studentDetail.StudentId,studentDetail.Birthday,studentDetail.CourseId);Hide();" id="btnSave" class="form-control btn btn-lg btn-block" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
