@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Teacher";
}


<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row" ng-init="AllTeachers()" ng-app="TeacherApp" ng-controller="TeacherController">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Add Teacher</h4>
                        </div>
                        <div class="card-body">
                            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

                            <form action="#" ng-hide="showDiv">

                                <div class="form-group">
                                    <label for="email">Teacher Name</label>
                                    <input id="subjectName" type="text" class="form-control" ng-model="teacher.Name">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Birthday</label>
                                    <input id="subjectName" type="date" class="form-control" ng-model="teacher.Birthday">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Salary</label>
                                    <input id="subjectName" type="text" class="form-control" ng-model="teacher.Salary">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btnSave" class="form-control btn btn-lg btn-block" value="Submit" ng-click="CreateTeacher()" />
                                </div>

                                <div class="form-group">
                                    <div class="search-element">
                                        <input class="form-control" type="search" ng-model="search" placeholder="Search" aria-label="Search" data-height="10" data-width="250">
                                    </div>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Teacher Name
                                                    <span class="glyphicon glyphicon-sort" ng-show="sortKey=='Name'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th>
                                                    Birthday
                                                    <span class="glyphicon glyphicon-sort" ng-show="sortKey=='Birthday'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th>
                                                    Salary
                                                    <span class="glyphicon glyphicon-sort" ng-show="sortKey=='Salary'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody dir-paginate="sub in record |itemsPerPage:5| filter:search |orderBy:sortKey:reverse">
                                            <tr>
                                                <td>{{sub.Name}}</td>
                                                <td>{{sub.Birthday}}</td>
                                                <td>{{sub.Salary}}</td>
                                                <td>
                                                    <a href="#" ng-click="ShowHide();HideShow();GetTeacherById(sub.TeacherId);" class="edit" title="Edit" data-toggle="tooltip"><i class="glyphicon glyphicon-edit">&nbsp;</i></a>
                                                    <a href="#" ng-click="DeleteTeacher(sub.TeacherId)" class="delete" title="Delete" data-toggle="tooltip"><i class="glyphicon glyphicon-remove">&nbsp;</i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <dir-pagination-controls class="pagination"></dir-pagination-controls>
                            </form>
                        </div>
                        <form action="#" ng-show="showModal">

                            <div class="form-group">
                                <label for="email">Teacher Name</label>
                                <input id="subjectName" type="text" readonly class="form-control" ng-model="teacherDetails.Name">
                                <div class="invalid-feedback">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Birthday</label>
                                <input id="subjectName" type="date" class="form-control" ng-model="teacherDetails.Birthday">
                                <div class="invalid-feedback">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Salary</label>
                                <input id="subjectName" type="text" class="form-control" ng-model="teacherDetails.Salary">
                                <div class="invalid-feedback">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="button" id="btnSave" class="form-control btn btn-lg btn-block" value="Update" ng-click="UpdateTeacher(teacherDetails.TeacherId,teacherDetails.Birthday,teacherDetails.Salary);Hide();" />
                            </div>
                            </form>

</div>
                </div>
            </div>
        </div>
    </section>
</div>
