@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Grade";

}


<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row" ng-init="AllGrades()" ng-app="GradeApp" ng-controller="GradeController">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Add Grade</h4>
                        </div>
                        <div class="card-body">
                            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

                            <form action="#" ng-hide="showDiv">

                                <div class="form-group">
                                    <label for="email">Grade</label>
                                    <input id="gradeName" type="text" class="form-control" ng-model="grade.Name">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Score</label>
                                    <input id="score" type="number" class="form-control" ng-model="grade.Score">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Submit" ng-click="CreateGrade()" />
                                </div>

                                <div class="form-group">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Grade</th>
                                                <th>Score</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody dir-paginate="sub in grades |itemsPerPage:5| filter:search |orderBy:sortKey:reverse">
                                            <tr>
                                                <td>{{sub.Name}}</td>
                                                <td>{{sub.Score}}</td>
                                                <td>
                                                    <a href="#" ng-click="ShowHide();HideShow();GetGradeById(sub.GradeId)" class="edit" title="Edit" data-toggle="tooltip"><i class="glyphicon glyphicon-edit">&nbsp;</i></a>
                                                    <a href="#" ng-click="DeleteGrade(sub.GradeId)" class="delete" title="Delete" data-toggle="tooltip"><i class="glyphicon glyphicon-remove">&nbsp;</i></a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <dir-pagination-controls class="pagination"></dir-pagination-controls>
                            </form>

                        </div>

                        <form action="#" ng-show="showModal">
                            <div class="form-group">
                                <label for="email">Grade</label>
                                <input id="gradeName" type="text" class="form-control" ng-model="gradeDetail.Name">
                                <div class="invalid-feedback">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Score</label>
                                <input id="score" type="number" class="form-control" ng-model="gradeDetail.Score">
                                <div class="invalid-feedback">
                                </div>
                            </div>


                            <div class="form-group">
                                <input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Submit" ng-click="UpdateGrade(gradeDetail.GradeId,gradeDetail.Name,gradeDetail.Score);Hide();" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
