@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Student Grading";

}


<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row" ng-init="GetStudentGradingList();AllStudents();AllGrades();AllSubjects();" ng-app="StudentGradingApp" ng-controller="StudentGradingController">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Grade Student</h4>
                        </div>
                        <div class="card-body">
                            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

                            <form action="#">

                                <div class="form-group">
                                    <label for="email">Student</label>
                                    @*<select ng-model="student.studentId" ng-change="GetValue(s.Name)">
                    <option ng-repeat="s in studentz" >{{s.Name}} </option>
                </select>*@

                                    <select ng-model="student" ng-options="fruit.StudentId as fruit.Name for fruit in studentz track by fruit.StudentId"
                                            ng-change="GetStudentId()"> </select>
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Subject</label>
                                    @*<select ng-model="subject.subjectId">
                    <option ng-repeat="su in subjects">{{su.Name}} </option>
                </select>*@
                                    <select ng-model="subject" ng-options="subs.SubjectId as subs.Name for subs in subjects track by subs.StudentId"
                                            ng-change="GetSubjetId()"> </select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Grade</label>

                                    <select ng-model="grade" ng-options="grad.GradeId as grad.Name for grad in grades track by grad.GradeId"
                                            ng-change="GetGradeId()"> </select>
                                    <div class="invalid-feedback">
                                        @*<select ng-model="grade.gradeId">
                        <option ng-repeat="g in grades">{{g.Name}}</option>
                    </select>*@
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Submit" ng-click="CreateGrade()" />
                                </div>

                                <div class="form-group">
                                    <div class="search-element">
                                        <input class="form-control" type="search" ng-model="search" placeholder="Search" aria-label="Search" data-height="10" data-width="250">
                                    </div>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Student</th>
                                                <th>Subject</th>
                                                <th>Grade</th>
                                                <th>Unit</th>
                                                <th>Point</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody dir-paginate="sub in studentGradingLists |itemsPerPage:5| filter:search |orderBy:sortKey:reverse">
                                            <tr>
                                                <td>{{sub.Name}}</td>
                                                <td>{{sub.Score}}</td>
                                                <td>{{sub.Score}}</td>
                                                <td>{{sub.Score}}</td>
                                                <td>{{sub.Score}}</td>
                                                <td>
                                                    <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="glyphicon glyphicon-edit">&nbsp;</i></a>
                                                    <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="glyphicon glyphicon-remove">&nbsp;</i></a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <dir-pagination-controls class="pagination"></dir-pagination-controls>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
