@{

    Layout = "~/Views/Shared/_Layout.cshtml";
        

}


<div id="app">
        <section class="section">
        <div class="container mt-5">
            <div class="row" ng-init="GetStudentCourseAverage()" ng-app="StudentGradingApp" ng-controller="StudentGradingController">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>
                                Course Information
                            </h4>
                        </div>
                        <div class="card-body ">
                            <form action="#">

                                <div class="search-element">
                                    <input class="form-control" type="search" ng-model="search" placeholder="Search" aria-label="Search" data-height="10" data-width="250">
                                </div>
                                <div>
                                    <table class="table table-striped table-bordered v_center">
                                        <thead>
                                            <tr>
                                                <th ng-click="sort('Name')">
                                                    Course Name
                                                    <span class="glyphicon glyphicon-sort" ng-show="sortKey=='Name'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th ng-click="sort('TeacherCount')">
                                                    Teachers
                                                    <span class="glyphicon glyphicon-sort" ng-show="sortKey=='TeacherCount'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th ng-click="sort('StudentCount')">
                                                    Students
                                                    <span class="glyphicon glyphicon-sort" ng-show="sortKey=='StudentCount'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                                                </th>
                                                <th ng-click="sort('AvgGrade')">
                                                    Average Grade
                                                    <span class="glyphicon glyphicon-sort" ng-show="sortKey=='AvgGrade'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody dir-paginate="grader in studentGradeAverage |itemsPerPage:5| filter:search |orderBy:sortKey:reverse">
                                            <tr>
                                                <td>{{grader.Name}}</td>
                                                <td>{{grader.TeacherCount}}</td>
                                                <td>{{grader.StudentCount}}</td>
                                                <td>{{grader.AvgGrade}}</td>
                                            </tr>

                                        </tbody>
                                        @*<dir-pagination-controls
                    max-size="5"
                   direction-links="true"
                   boundary-links="true">
                </dir-pagination-controls>*@
                                    </table>
                                </div>
                                <dir-pagination-controls class="pagination"></dir-pagination-controls>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
