@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row" ng-init="AllCourses()" ng-app="CourseApp" ng-controller="CourseController">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Add Course</h4>
                        </div>
                        <div class="card-body">
                            <form action="#">

                                <div class="form-group">
                                    <label for="email">Course Name</label>
                                    <input id="courseName" type="text" class="form-control" ng-model="course.Name">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Submit" ng-click="CreateCourse()" />
                                </div>

                                <div class="form-group">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Course Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="course in courses">
                                            <tr>
                                                <td>{{course.Name}}</td>
                                                <td><input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Delete" /></td>
                                                <td><input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Update" /></td>
                                                <td><input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Details" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="card" style="display:none">
                                <div class="card-header">
                                    <h4>Modal Center</h4>
                                </div>
                                <div class="card-body">
                                    <p class="mb-2">You can change the modal position to center.</p>
                                    <button class="btn btn-primary" id="modal-2">Launch Modal</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; CodiePie 2020
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--<section class="become_a_instructor">
    <div class="container" >
        <div class="row" ng-app="CourseApp" ng-controller="CourseController">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="apply_instructor">
                    <div class="form_title">
                        <h3>Add Course</h3>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Name" ng-model="course.Name">
                                </div>
                            </div>


                            <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label">CourseCode</label>
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Course Code" ng-model="course.CourseCode">
                                </div>
                            </div>

                            <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="AddCourse()" />
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>--><!-- End Become A Instructor -->



<!--<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Course List</title>

    <style>

        .tableData {
            border-left: solid 1px #D8C3C3;
            border-top: solid 1px #D8C3C3;
        }



            .tableData tr {
            }



            .tableData td, .tableData th {
                border-right: solid 1px #D8C3C3;
                border-bottom: solid 1px #D8C3C3;
                text-align: left;
                padding: 5px;
            }



            .tableData td {
            }



            .tableData th {
                background-color: #FAFAFA;
                padding: 7px 5px;
                border-bottom-color: #9C9C9C;
            }



        .odd {
            background-color: #f3f3f3;
        }



        .even {
            background-color: #ffffff;
        }
    </style>



</head>

<body ng-app="CourseApp">

    <div ng-controller="CourseController" ng-init="CourseList()">

        <table class="tableData">

            <tr>

                <th>Course Name</th>

                <th>Date Created</th>

                <th>Actions</th>

            </tr>

            <tr ng-repeat="e in record" ng-class-even="'even'" ng-class-odd="'odd'">

                <td>{{e.CourseName}}</td>

                <td>{{e.DateCreated}}</td>-->
@*<td><a href="/Home/update_data?id={{e.Sr_no}}">Update</a></td>

    <td><a ng-click="deleterecord(e.Sr_no)">Delete</a></td>*@

<!--</tr>

        </table>

    </div>

    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/AngularCode/Controller/CourseController.js"></script>

</body>

</html>-->
