@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Course";

}


<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row" ng-init="AllCourses()" ng-app="CourseApp" ng-controller="CourseController">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Add Course</h4>
                        </div>
                        <div class="card-body">
                            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

                            <input type="button" name="name" value="Add New" ng-click="" />
                            <form action="#" ng-hide="showDiv">

                                <div class="form-group">
                                    <label for="email">Course Name</label>
                                    <input id="courseName" type="text" class="form-control" ng-model="course.Name">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="button" id="btnSave" class="form-control btn btn-primary btn-lg btn-block" value="Submit" ng-click="CreateCourse()" />
                                </div>

                                <div class="form-group">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Course Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody dir-paginate="courser in courses |itemsPerPage:5| filter:search |orderBy:sortKey:reverse">
                                            <tr>
                                                @*<td>{{courser.CourseId}}</td>*@
                                                <td>{{courser.Name}}</td>
                                                <td>
                                                    <a ng-click="ShowHide();HideShow();GetCourseId(courser.CourseId);" class="edit" title="Edit" data-toggle="tooltip"><i class="glyphicon glyphicon-edit">&nbsp;</i></a>
                                                    <a ng-click="DeleteCourse(courser.CourseId)" class="delete" title="Delete" data-toggle="tooltip"><i class="glyphicon glyphicon-remove">&nbsp;</i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <dir-pagination-controls class="pagination"></dir-pagination-controls>
                            </form>
                            <div ng-show="showModal">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="email">Course Name</label>
                                        <label for="email">{{courseDetails.Name}}</label>
                                        <input id="updateCourseName" type="text" class="form-control" ng-model="courseDetails.Name">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="btnSave" ng-click="UpdateCourse(courseDetails.CourseId,courseDetails.Name);Hide();" class="form-control btn btn-primary btn-lg btn-block">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                            </div>
                </div>
            </div>
        </div>
    </section>
</div>

