<!DOCTYPE html>
<html lang="en">

<!-- auth-register.html  Tue, 07 Jan 2020 03:39:47 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Register &mdash; CodiePie</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/dashboard/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/dashboard/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/Content/dashboard/assets/modules/jquery-selectric/selectric.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/dashboard/assets/css/style.min.css">
    <link rel="stylesheet" href="~/Content/dashboard/assets/css/components.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>

<body class="layout-4">


    <div>
        @RenderBody()
        <hr />
    </div>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    @*<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>*@
    @*<script src="~/signalr/hubs"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/AngularCode/Controller/CourseController.js"></script>
    <script src="~/Scripts/AngularCode/Controller/SubjectController.js"></script>
    <script src="~/Scripts/AngularCode/Controller/TeacherController.js"></script>
    <script src="~/Scripts/AngularCode/Controller/StudentController.js"></script>
    <script src="~/Scripts/AngularCode/Controller/StudentGradingController.js"></script>
    <script src="~/Scripts/AngularCode/Controller/GradeController.js"></script>
    @*<script src="~/Content/dashboard/assets/bundles/lib.vendor.bundle.js"></script>
    <script src="~/Content/dashboard/js/CodiePie.js"></script>*@


    <!-- JS Libraies -->
    <!--<script src="~/Content/dashboard/assets/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/Content/dashboard/assets/modules/jquery-selectric/jquery.selectric.min.js"></script>-->

    <!-- Page Specific JS File -->
    <!--<script src="js/page/auth-register.js"></script>-->

    <!-- Template JS File -->
    @*<script src="~/Content/dashboard/js/scripts.js"></script>*@
    @*<script src="~/Content/dashboard/js/custom.js"></script>*@
</body>

<!-- auth-register.html  Tue, 07 Jan 2020 03:39:48 GMT -->
</html>